<%= image_tag @album.photo.url %>
<h1><%= @album.name %></h1>
<p><%= link_to "edit", edit_artist_album_path(@artist, @album) %></p>

<h2>Tracks</h2>

<p>...</p>

<p><%= link_to @artist.name, @artist %></p>