<h1>New List</h1>

<% form_for List.new do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.submit "Submit", :disable_with => 'Submiting...' %>
  </p>
<% end %>
  